@import '../../scss/colors.scss';

#about {

  hr { margin: 42px 0 42px 0; }
  section { margin: 33px 0 33px 0; }

  #interests {
    .row {
      text-align: center;

      img {
        max-height: 133px;
        border-radius: 100%;
        margin: 21px 0 21px 0;
      }
    }
  }

  .terminal {
    background-color: $mind-white-open;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba($grey-matter, 0.2);

    .terminal-head {
      height: 30px;
      background-color: rgba($grey-matter, 0.05);
      text-align: center;
    }

    .terminal-body {
      font-family: 'Consolas';
      min-height: 300px;
      background-color: $grey-matter;
      color: $mind-white-open;
      line-height: 1.2em;
      border-radius: 0 0 3px 3px;
      padding: 7px;

      a {
        color: inherit;
        background: none;
      }
      a:hover { color: $blue-link; }
    }
  }

}
