@import '../../scss/colors.scss';

#about {

  .terminal {
    background-color: $mind-white-open;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba($grey-matter, 0.2);

    .terminal-head {
      height: 30px;
      background-color: rgba($grey-matter, 0.05);
      text-align: center;
    }

    .terminal-body {
      font-family: 'Consolas';
      min-height: 300px;
      background-color: $grey-matter;
      color: $mind-white-open;
      line-height: 1.2em;
      border-radius: 0 0 3px 3px;
      padding: 10px;

      a {
        color: inherit;
        background: none;

        &:hover {
          color: $blue-link;
        }

      }

    }
    
  }

  #interests {

    .row {
      text-align: center;

      img {
        max-height: 133px;
        border-radius: 100%;
        margin: 26px 0;
      }

    }
    
  }

}
