@import '../../scss/colors.scss';

#dashboard {

    hr {
        margin: 10px 0 16px 0;
    }

    #dashboard_tools {
        min-height: 333px;

        .row {
            margin: 16px 0;
        }

    }
  
}
