@import '../post/post.scss';

#postEditor {
    @extend article;
    
    .post {
        margin-top: 42px !important;
    }

    form {

        label {
            color: $grey-matter;

            svg {
                max-height: 19px;
                vertical-align: sub;
                margin-right: 6px;
            }
    
            &.required::after {
                content: '*';
                color: $red-strenght;
            }
    
        }

        .form-group {
            margin-bottom: 16px;
        }

        textarea {
            min-height: 240px;
        }

        div.required_fields {
            color: $mantra;
            text-align: right;
            margin-bottom: 16px;
        
            &::before {
                content: '*';
                color: $red-strenght;
                margin-right: 6px;
            }
    
        }

    }

}
