@import '../post/post.scss';

#postEditor {
    @extend #post;
    .post { margin-top: 42px !important; }

    textarea { min-height: 240px; }

    div.required {
        color: $mantra;
        text-align: right;
    }

    span.required {
        color: $red-strenght;
    }

}
