@import '../../scss/colors.scss';

#resume {
  hr {
    width: 75%;
    margin: 42px auto 42px auto;
  }

  #download {
    margin-bottom: 84px;
    .col-12 { margin-bottom: 21px; }
  }

  #education, #experience, #events {
    h2 { margin-bottom: 42px; }

    div.line { 
      margin: 42px 0 42px 0;

      div.infos {
        margin: 8px 0 10px 0;
        color: $mantra;
        .material-icons { font-size: 1.4em; }
      }

      p.description { margin-bottom: 0; }
    }
    div.line:first-child { margin: 0 0 42px 0; }
    div.line:last-child { margin: 42px 0 0 0; }
  }
}
