@import '../blog/blog.scss';

#home {

  hr { margin: 42px 0 42px 0; }
  section { margin: 66px 0 66px 0; }

  #presentation {
    text-align: center;

    h2 {
      font-size: 21px;
      .name { font-size: 42px; }
    }

    .emojis { font-size: 99px; }
    .magic { color: $mantra; }
    .finger { font-size: 21px; }
  }

  @extend #blog;

  #latestPost {

    .latest-post {
      @extend .post;
      margin: 21px 0 21px 0;
  
      .lp-image { @extend .post-image; }
      .lp-description { @extend .post-description; }
      div.infos { @extend .infos; }
    }

  }
}
