@import '../../scss/colors.scss';

#home {

  section {
    margin: 68px 0;
  }

  #presentation {
    text-align: center;

    h2 {
      font-size: 21px;
      .name { font-size: 42px; }
    }

    .emojis { font-size: 99px; }
    .magic { color: $mantra; }
    .finger { font-size: 21px; }
    
  }

}
