@import '../../scss/colors.scss';

%underline-hidden {
    border-bottom-width: 2px;
    border-bottom-style: outset;
    border-bottom-color: transparent;
}

 %underline-visible {
    border-bottom-width: 2px;
    border-bottom-style: outset;
    border-bottom-color: $purple-crown;
}

nav {

    .nav-item {
        margin-left: 12px;
        margin-right: 12px;
    }

    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        transition: all 0.3s;
    }

    .navbar-brand {
        .nav-link { color: $white !important; }
        .nav-link:hover { color: $purple-crown !important; }
    }

    .navbar-toggler {
        outline: 0;
        border-radius: 20px;
        border-width: 2px;
        transition: all 0.3s;
    }

    .navbar-toggler:hover {
        color: $white;
        border-color: $purple-crown;
        transition: all 0.3s;
    }

    .navbar-nav {

        .nav-link { 
            @extend %underline-hidden;
            color: $inner-peace !important;
            span, i.material-icons { transition: all 0.3s; }
        }

        .nav-link:hover { 
            @extend %underline-visible;
            color: $white !important;
        }
        
        .active {
            @extend %underline-visible;
            span { color: $white; }
            i.material-icons { color: $purple-crown; }
        }

    }

}
