@import '../../scss/colors.scss';

nav {

    .nav-item {
        margin-left: 12px;
        margin-right: 12px;
    }

    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        transition: all 0.3s;
    }

    .navbar-brand {
        .nav-link {
            color: $white !important;
            background: none;
        }
        .nav-link:hover { color: $purple-crown !important; }
    }

    .navbar-toggler {
        outline: 0;
        border-radius: 20px;
        border-width: 2px;
        transition: all 0.3s;
    }

    .navbar-toggler:hover {
        color: $white;
        border-color: $purple-crown;
        transition: all 0.3s;
    }

    .navbar-nav {

        .nav-link { 
            color: $inner-peace !important;
            background: linear-gradient(to left, $purple-crown, $purple-crown) no-repeat bottom center;
            background-size: 0% 2px;
        }
        .nav-link:hover {
            color: $white !important;
            background-size: 100% 2px;
        }
        .nav-link:focus { @extend .nav-link:hover; }

        .active {
            @extend .nav-link:hover;
            span { color: $white; }
            i.material-icons { color: $purple-crown; }
        }

    }

}
