@import '../../components/blog/preview/preview.scss';

#projects {

    .project {
        @extend .preview;

        margin: 42px 0 0px 0;

        .image {
            border-radius: 40px 40px 0 0 !important; 
        }

        .details {

            section {
                margin-bottom: 20px;

                h3 {
                    font-size: 1em;
                    margin-bottom: 0px;
                    .material-icons {
                        vertical-align: middle;
                    }
                }

                ul {
                    color: $mantra;
                    list-style-type: circle;
                    list-style-position: inside;
                    padding-left: 0;
                }

                p {
                    margin: 0;
                }

                span {
                    color: $mantra;
                }

            }
            
        }

    }

}
