@import '../../scss/colors.scss';

footer {

    #links {
        margin-top: 84px;
        margin-bottom: 42px;

        .col-sm-6 {
            margin-top: 21px;
            margin-bottom: 21px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            a { color: $mantra; }
            a:hover { color: $red-strenght; }
            
        }

    }

    #mentions {
        background-color: $grey-matter;
        color: $inner-peace;
        text-align: center;
        padding: 10px 0 10px 0;
    }

}
