@import '../../scss/colors.scss';

footer {

    #links {
        margin-top: 68px;
        margin-bottom: 42px;

        ul {
            list-style-type: none;
            padding: 0;

            a {
                color: $mantra;

                &:focus {
                    @extend a:hover;
                }

                &:active {
                    @extend a:hover;
                    color: $purple-crown !important;
                }
            
            }

        }

    }

    #signedin {
        background-color: $purple-crown;
        color: $white;
        text-align: center;
        padding: 10px 0;

        a.main {
            color: $purple-crown;
            background-color: $white;
            border: none;

            &:hover {
                color: $white;
                background-color: $grey-matter;
            }
            
        }

    }

    #mentions {
        background-color: $grey-matter;
        color: $inner-peace;
        text-align: center;
        padding: 10px 0;
    }

}
