
@import './scss/fonts.scss';
@import './scss/colors.scss';


body {
  font-family: 'Maven Pro';
  background-color: $mind-white-open;
}


h1 { font-size: 4rem; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.4em; }

p {
  text-align: justify;
  color: $mantra;
}
