
@import './scss/fonts.scss';
@import './scss/colors.scss';


body {
  font-family: 'Maven Pro';
  background-color: $mind-white-open;
}


h1 { font-size: 4rem; }
h2 { font-size: 2em; }
h3 { font-size: 1.3em; }

h1.page-title {
  text-align: center;
  margin: 42px 0 84px 0;
}

p {
  text-align: justify;
  color: $mantra;
}

a {
  color: $blue-link;
  outline: 0;
  transition: all 0.2s;
}

a:hover {
  color: $red-strenght;
  text-decoration: none;
  transition: all 0.2s;
}

a.main{
  display: inline-block;
  background-color: transparent;
  color: $blue-link;
  border: 1px solid $blue-link;
  border-radius: 0px;
  padding: 5px 10px 5px 10px;
  svg {
    fill: $blue-link;
    max-height: 1.1em;
    vertical-align: sub;
    transition: all 0.2s;
  }
}

a.main:hover {
  background-color: $blue-link;
  color: $white;
  border: 1px solid $blue-link;
  svg { fill: $white; }
}

a.main:focus {
  box-shadow: none;
}

button.btn {
  @extend a.main;
  vertical-align: baseline;
}

button.delete {
  color: $red-strenght;
  border-color: $red-strenght;
}

button.cancel {
  color: $mantra;
  border-color: $mantra;
}

button.btn:hover { @extend a.main:hover; }

button.delete:hover {
  background-color: $red-strenght;
  border-color: $red-strenght;
}

button.cancel:hover {
  background-color: $mantra;
  border-color: $mantra;
}

button.btn:focus { @extend a.main:focus; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; 

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
