
@import './scss/fonts.scss';
@import './scss/colors.scss';


body {
  font-family: 'Maven Pro';
  background-color: $mind-white-open;
}


h1 { font-size: 4rem; }
h2 { font-size: 2em; }
h3 { font-size: 1.3em; }

h1.page-title {
  text-align: center;
  margin: 42px 0 84px 0;
}

p {
  text-align: justify;
  color: $mantra;
}

a {
  color: $purple-crown;
  outline: 0;
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: $purple-crown;
  text-decoration: none;
  border-bottom: 1px solid $purple-crown;
  transition: all 0.2s;
}

a.main{
  display: inline-block;
  background-color: transparent;
  color: $purple-crown;
  border: 1px solid $purple-crown;
  border-radius: 20px;
  padding: 7px 15px 7px 15px;
  svg {
    fill: $purple-crown;
    max-height: 1.1em;
    vertical-align: sub;
    transition: all 0.2s;
  }
}

a.main:hover {
  background-color: $purple-crown;
  color: $white;
  border: 1px solid $purple-crown;
  box-shadow: 3px 3px 10px rgba($grey-matter, 0.2);
  svg { fill: $white; }
}

a.main:active {
  transform: translateY(3px);
}

a.main:focus {
  box-shadow: 3px 3px 6px rgba($purple-crown, 0.3);
}

button.btn {
  @extend a.main;
  vertical-align: baseline;
}

button.delete {
  color: $red-strenght;
  border-color: $red-strenght;
}

button.cancel {
  color: $mantra;
  border-color: $mantra;
}

button.btn:hover { @extend a.main:hover; }

button.delete:hover {
  background-color: $red-strenght;
  border-color: $red-strenght;
}

button.cancel:hover {
  background-color: $mantra;
  border-color: $mantra;
}

button.btn:focus { @extend a.main:focus; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; 

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

blockquote {
  color: $mantra;
  border-left: 4px solid $blue-link;
  padding-left: 20px;

  p {
    &::before, &::after { font-family: Georgia, 'Times New Roman', Times, serif; }
    &::before { content: "“ "; }
    &::after { content: " ”"; }
  }
  footer {
    text-align: right;
    &::before { content: "— "; }
  }
}
