@import '../../scss/colors.scss';

#blogTable {

  margin: 26px 0;

  table {

    thead {
      background-color: $grey-matter;
      color: $mind-white-open;
    }

    tbody {
      font-family: 'Roboto Mono';
      font-size: 0.8em;

      tr {
        transition: all 0.3s;

        td {
          vertical-align: middle;
        }
        
        td.id::before {
          content: '#';
        }

        td.actions {
          
          button, a {
            color: $grey-matter;
            border: none;

            svg {
              max-height: 21px;
              margin: 0;
            }

            &:hover {
              background-color: transparent !important;
              box-shadow: none !important;
            }

            &:active, &:focus {
              background-color: transparent !important;
              box-shadow: none !important;
              border: none !important;
            }

          }
        
          .edit-icon:hover {
            color: $purple-crown;
          }

          .delete-icon:hover {
            color: $red-strenght;
          }

          .openinnew-icon:hover {
            color: $green-pulse;
          }

        }

      }

      tr:hover {
        background-color: rgba($inner-peace, 0.12);
        transition: all 0.3s;
      }

    }

  }

}
