@import '../../scss/colors.scss';

#blogTable {

  padding: 21px 0 21px 0;

  table {

    thead {
      background-color: $grey-matter;
      color: $mind-white-open;
    }

    tbody {
      font-family: 'Roboto Mono';
      font-size: 0.8em;

      tr {
        transition: all 0.3s;

        td {
          vertical-align: sub;
        }

        td:first-child::before {
          content: '#'
        }
      }

      tr:hover {
        background-color: rgba($mantra, 0.21);
        transition: all 0.3s;
      }
    }

  }

  button.delete-icon, button.edit-icon {
    color: $grey-matter;
    border: none;
  }

  button.delete-icon:hover {
    color: $red-strenght;
    background-color: transparent;
  }

  button.edit-icon:hover {
    color: $blue-link;
    background-color: transparent;
  }

}
